table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-family: sans-serif;
  padding: 12px 15px;
}

td,
th,
table caption {
  padding: 12px 15px;
  text-align: center;
  border: solid 1px #777;
}

table tr:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

th,
#blank_td {
  background-color: lightgrey;
}

table caption {
  font-weight: 600;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
